body {
    font-family: 'Lato', sans-serif;
    margin: 0%;
}
h1 {
    font-size: 54px;
}
h2 {
    font-size: 40px;
}
.heading-color {
    color: blue;
}
.S-class {
    display: flex;
    margin-bottom: 100px;
}
.child-1 {
    width: 43%;
    padding-left: 7%;
}
.child-1 img {
    width: 75%;
}
.child-1 p {
    text-align: justify;
}
.ancor-btn {
    text-decoration: none;
    background-image: linear-gradient(360deg , #a110ff, #002cff);
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bold;
}
.top-area {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat; 

}
.area-2 {
    background-image: url('img/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}
#a-2-p {
    padding-right: 20%;
    text-align: justify;
}
.Experience-area {
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
}
#l-s-h {
    text-align: center;
}
.Experience-item {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 8px 5px 50px 12px grey;
    padding: 50px;
}
#web-dev-exp {
    border-left: 7px solid;
    border-image: linear-gradient( purple,tomato);
    border-image-slice: 1;
}
#full-stuck-exp {
    border-left: 7px solid;
    border-image: linear-gradient( #ff33ff,#0078c0);
    border-image-slice: 1;    
}
footer {
    text-align: center;
}